<ion-view>
    <ion-content>
<div class="list">

  <label class="item item-input item-stacked-label">
    <span class="input-label">Developer Name</span>
    <input type="text" placeholder="Dilip Singh">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Royalparinda11@gmail.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Version</span>
    <input type="text" placeholder="V.1.0.0">
  </label>
  
    <label class="item item-input item-stacked-label">
    <span class="input-label">Release Date</span>
    <input type="text" placeholder="04 May 2016">
  </label>
</div>
    </ion-content>
</ion-view>