<ion-view>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card">
            <div class="item item-divider">
                Today
            </div>
            <div class="item item-text-wrap">
                <h1 class="title positive">{{TotalCoffeeCount}} <i class="icon ion-coffee larger"></i></h1>
            </div>

        </div>
        <div class="card">
            <div class="item item-divider">
                Total
            </div>
            <div class="item item-text-wrap">
                <h1 class="title positive">{{TotalTodayCoffeeCount}} <i class="icon ion-coffee larger"></i></h1>
            </div>

        </div>

    </ion-content>
</ion-view>